.help-container-wrapper {
    max-width: 90%;
    margin: 0 auto;
    padding: 5rem 0;
}

.help-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 74px;
}

.help-container h4 {
    color: #6285CA;
    font-family: DM Sans;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.125rem; /* 112.5% */
    letter-spacing: 0.1875rem;
    text-transform: uppercase;
}

.help-container h1 {
    color: #032342;
    font-family: Fredoka;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: 3.125rem; /* 125% */
}

.help-container h1 span {
    color: #385182;
    font-family: Fredoka;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: 3.125rem;
}

.help-container h3 {
    color: #032342;
    font-family: Fredoka;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2rem; /* 160% */
}

.help-container p {
    color: #888;
    font-family: DM Sans;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 139.884%; /* 1.39881rem */
}

.help-container ul {
    list-style-type: disc;
    padding: 0 0 0 1rem;
}

.help-container form button {
    width: 16.125rem;
    height: 3.25rem;
    flex-shrink: 0;
    color: white;
    border-radius: 1.1875rem;
    background: #385182;
    box-shadow: 0px -2px 14px 0px rgba(0, 0, 0, 0.05), 1px 9px 12px 0px rgba(0, 0, 0, 0.15) inset;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
}

.help-container form .grid1 div > input {
    width: 100%;
}

.help-container form .grid1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    margin: 1rem 0;
    align-content:  center;
}

.help-container textarea {
    border-radius: 0.625rem;
    background: rgba(3, 35, 66, 0.04);
    border: transparent;
    outline: transparent;
    resize: none;
    padding: 1rem 1rem;
}

.help-container input {
    border-radius: 0.625rem;
    background: rgba(3, 35, 66, 0.04);
    outline: transparent;
    border: transparent;
    padding: 1rem 1rem;
}

.help-container > div form {
    border-radius: 1.875rem;
    background: #FFF;
    box-shadow: -10px -16px 56px -1px rgba(0, 0, 0, 0.05);
    padding: 2rem;
}



/* 2xl	1536px	 */
@media screen and (max-width: 1536px) { 
    
}

/* xl	1280px	 */
@media screen and (max-width: 1280px) { 
    
}

/* lg	1024px	 */
@media screen and (max-width: 1024px) { 

}

/* md	768px	 */
@media screen and (max-width: 768px) { 
    .help-container form .grid1 {
        grid-template-columns: repeat(1, 1fr);
        gap: 1rem;
        margin: 1rem 0;
        align-content:  center;
    }
    
    .help-container {
        grid-template-columns: repeat(1, 1fr);        
    }

    .help-container > div form {
        padding: 1rem;
    }

    .help-container-wrapper {
        max-width: 90%;
    }

    .help-container h4 {
        font-size: 14px;
    }
}

/* sm	640px	 */
@media screen and (max-width: 640px) {

    .help-container-wrapper {
        padding: 52px 0;
    }
    
    .help-container {
        max-width: 100%;
        gap: 2rem;
    }

    .help-container h1 {
        color: #032342;
        font-family: Fredoka;
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

    .help-container p {
        color: #888;
        font-family: DM Sans;
        font-size: 0.875rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .help-container form button {
        width: 11.5rem;
        height: 3rem;
        flex-shrink: 0;
        color: white;
        border-radius: 1.1875rem;
        background: #385182;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 2rem 0;
    }
    
    .help-container h1 span {
        color: #385182;
        font-family: Fredoka;
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }
}