:root { 
--white_A700_7f:#ffffff7f; 
--blue_gray_100_66:#d9d9d966; 
--blue_A200:#4f86ed; 
--white_A700_99:#ffffff99; 
--indigo_400_3f:#5373b03f; 
--indigo_50_01:#e8edf7; 
--indigo_50_02:#e6e9ef; 
--blue_gray_700:#385182; 
--blue_gray_900_01:#292d32; 
--blue_gray_700_19:#38508119; 
--blue_gray_900:#032342; 
--purple_A200:#ed51eb; 
--blue_gray_700_14:#38518214; 
--white_A700_4c:#ffffff4c; 
--gray_600:#757575; 
--blue_gray_100:#d6d6d6; 
--white_A700_0c:#ffffff0c; 
--blue_gray_300:#97a3be; 
--amber_500:#fec107; 
--white_A700_0f:#ffffff0f; 
--black_900_0c:#0000000c; 
--gray_200:#e8e8e8; 
--blue_50:#d4e2ff; 
--white_A700_66:#ffffff66; 
--indigo_400:#5f81c4; 
--blue_gray_700_7f:#3851827f; 
--black_900_11:#00000011; 
--blue_gray_900_1e:#0323421e; 
--gray_100_01:#f1f5ff; 
--blue_gray_900_33:#03234233; 
--black_900_19:#00000019; 
--black_900_14:#00000014; 
--white_A700:#ffffff; 
--blue_gray_700_01:#2d4472; 
--indigo_800:#2b4b8b; 
--indigo_300_01:#6285c9; 
--blue_gray_700_19_01:#354d7c19; 
--blue_gray_100_01:#ccd1dc; 
--blue_gray_900_0a:#0323420a; 
--black_900_1c:#0000001c; 
--gray_50:#f3fcfd; 
--black_900:#000000; 
--red_A400:#fb142f; 
--blue_gray_700_38:#37508038; 
--blue_50_01:#dfe9ff; 
--black_900_26:#00000026; 
--indigo_400_02:#407cb7; 
--blue_gray_700_33:#38518233; 
--blue_gray_200:#afb9cd; 
--indigo_400_01:#506da7; 
--blue_gray_400:#888888; 
--indigo_50:#e2e5ed; 
--red_A100:#fa7e8e; 
--blue_gray_600:#445b89; 
--blue_gray_700_d6:#385182d6; 
--orange_300:#e4b268; 
--indigo_300_4c:#6285ca4c; 
--gray_100:#f5f6f9; 
--indigo_300:#6285ca; 
--black_900_33:#00000033; 
--indigo_300_26:#6285ca26; 
--blue_200:#94bdff; 
}