

.home-about-container .doctor-image {
    /* border: 10px solid #FFF; */
    box-shadow: 18px 39px 73px 0px rgba(0, 0, 0, 0.15);
}

.home-about-container button {
    width: 11.8125rem;
    height: 3.25rem;
    flex-shrink: 0;
    border-radius: 1.1875rem;
    background: #385182;
    box-shadow: 0px -2px 14px 0px rgba(0, 0, 0, 0.05), 1px 9px 12px 0px rgba(0, 0, 0, 0.15) inset;
    color: #FFF;
    font-family: DM Sans;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}


.home-about-container .left h4 {
    color: #032342;
    font-family: Fredoka;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.home-about-container p {
    color: #888;
    font-family: DM Sans;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 139.884%; /* 1.39881rem */
}




/* 2xl	1536px	 */
@media screen and (max-width: 1536px) { 
    
}

/* xl	1280px	 */
@media screen and (max-width: 1280px) { 
    
}

/* lg	1024px	 */
@media screen and (max-width: 1024px) { 

}

/* md	768px	 */
@media screen and (max-width: 768px) {     
    .home-about-container .left h4 {
        color: #032342;
        font-family: Fredoka;
        font-size: 1rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

    .home-about-container p {
        color: #888;
        font-family: DM Sans;
        font-size: 0.875rem;
        font-style: normal;
        font-weight: 400;
        line-height: 139.884%; /* 1.224rem */
    }
}

/* sm	640px	 */
@media screen and (max-width: 640px) {
    
}