.card-lg {
    display: grid;
    grid-template-columns: 45% 55%;
    padding: 1.5rem;
    border-radius: 1.875rem;
    background: #FFF;
    box-shadow: 10px 14px 56px -1px rgba(0, 0, 0, 0.08);
    height: 100%;
    width: 100%;
}

.card-lg span {
    color: #6285CA;
    font-family: DM Sans;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5rem; /* 150% */
}

.card-lg p {
    color: #767676;
    font-family: DM Sans;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem; /* 150% */
}

.card-lg h1 {
    color: #032342;
    font-family: Fredoka;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2rem; /* 133.333% */
}

.card-md {
    padding: 1.5rem;
    border-radius: 1.875rem;
    background: #FFF;
    box-shadow: 10px 14px 56px -1px rgba(0, 0, 0, 0.07);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.card-md span {
    color: #6285CA;
    font-family: DM Sans;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5rem; /* 150% */
}

.card-md p {
    color: #767676;
    font-family: DM Sans;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem; /* 150% */
}

.card-md h1 {
    color: #032342;
    font-family: Fredoka;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2rem; /* 133.333% */
}


.card-sm {
    border-radius: 1.875rem;
    background: #FFF;
    box-shadow: 10px 14px 56px -1px rgba(0, 0, 0, 0.08);
    display: grid;
    grid-template-columns: 40% 60%;
    column-gap: 1rem;
    padding: 1rem;
}

.card-sm span {
    color: #6285CA;
    font-family: DM Sans;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5rem; /* 150% */
}

.card-sm h1 {
    color: #032342;
    font-family: Fredoka;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2rem; /* 133.333% */
}

.newspage-container {
    max-width: 90%;
    
}

.newspage-container > h1 {
    color: #032342;
    text-align: center;
    font-family: Fredoka;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.newspage-container h1 span {
    color: #385182;
    font-family: Fredoka;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.newspage-container h3 {
    color: #6285CA;
    font-family: DM Sans;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.125rem; /* 112.5% */
    letter-spacing: 0.1875rem;
    text-transform: uppercase;
}

.newspage-container .grid1 {
    display: grid;
    grid-template-columns: 58% 40%;
    justify-content: space-between;
    margin-top: 2rem;
}

.newspage-container .grid2 {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    justify-content: space-between;
}

.newspage-container  .btn {
    color: #032342;
    font-family: DM Sans;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    border-radius: 0.625rem;
    border: 1px solid #385182;

    width: 9.6875rem;
    height: 3.25rem;
    flex-shrink: 0;

    align-self: center;
}

.newspage-container-wrapper {
    padding: 2rem 0rem;
    background: linear-gradient(to bottom, 
    #FFF    30%, 
    #F5F6F9 30%,
    #F5F6F9 100%
    );
}



/* 2xl	1536px	 */
@media screen and (max-width: 1536px) { 
    
}

/* xl	1280px	 */
@media screen and (max-width: 1280px) { 
    
}

/* lg	1024px	 */
@media screen and (max-width: 1024px) { 

}

/* md	768px	 */
@media screen and (max-width: 768px) { 
    .newspage-container-wrapper .card-lg {
        padding: 1rem;
    }

    .newspage-container-wrapper .card-md {
        padding: 1rem;
    }

    .newspage-container .grid1 {
        grid-template-columns: repeat(1, 1fr);
        gap: 1.5rem;
    }

    .newspage-container .grid2 {
        grid-template-columns: repeat(1, 1fr);
    }
}

/* sm	640px	 */
@media screen and (max-width: 640px) {
    .newspage-container-wrapper .card-lg {
        padding: 2rem 0 !important;
        grid-template-columns: 30% 70%;
    }
}